<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- 配置数据库方言 -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- 配置数据库驱动 -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <!-- 配置数据库url -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ssh_test?useUnicode=true&amp;characterEncoding=UTF-8</property>
        <!-- 配置用户名 -->
        <property name="hibernate.connection.username">root</property>
        <!-- 配置密码 -->
        <property name="hibernate.connection.password">root</property>
        <!-- 是否输出Hibernate生成的ＳＱＬ语句，开启为ｔｒｕｅ -->
        <property name="show_sql">true</property>
        <!-- ddl语句自动建表 -->
        <property name="hbm2ddl.auto">update</property>
        <!-- 是否对输出SQL进行格式化 -->
        <property name="format_sql">true</property>
  <!--      <property name="hibernate.connection.autocommit">true</property>-->

        <!--&lt;!&ndash; 连接池的配置 &ndash;&gt;
        <property name="hibernate.connection.provider_class">
            org.hibernate.c3p0.internal.StrategyRegistrationProviderImpl
        </property>

        &lt;!&ndash; C3P0随机准备好的最少的JDBC连接数量 &ndash;&gt;
        <property name="hibernate.c3p0.min_size">5</property>

        &lt;!&ndash; 连接池的最大JDBC连接数量 &ndash;&gt;
        <property name="hibernate.c3p0.max_size">20</property>

        &lt;!&ndash; 配置超时周期，在他之后，休闲连接将从连接池中移除 &ndash;&gt;
        <property name="hibernate.c3p0.timeout">300</property>

        &lt;!&ndash; 最多高速缓存100个预编译语句，该属性是使Hibernate获得良好性能的要素 &ndash;&gt;
        <property name="hibernate.c3p0.max_statements">100</property>

        &lt;!&ndash; 连接池被自动验证前，以秒为单位的闲置时间 &ndash;&gt;
        <property name="hibernate.c3p0.idle_test_period">3000</property>-->

        <!-- 注册ORM实体类映射文件 -->
        <mapping resource="com/moodincode/entity/User.hbm.xml"/>

    </session-factory>
</hibernate-configuration>